<!DOCTYPE html>
<html>

<head>
  <title>Creative Project 2</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
  <script src="function.js"></script>
  <link rel="stylesheet" type="text/css" href="withfunction.css">
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
</head>

<body ng-app="movieSearch" ng-controller="Controller">
  
  <header class="pt-2" id="site-header">
    <div class="container text-center pt-2 pb-1" id="site-header">
      <p>Creative Project 3</p>
    </div>
  </header>
  
  <header id="page-header">
    <div class="container text-center pt-2 pb-2" id="page-header">
      <h1 style="font-size:50px">Movie Search</h1>
    </div>
  </header>
  
  <form ng-submit = "getmovies()">
      <h1>Search for the keywords and click the poster</h1>
      <div id="inputform">
        <input type="text" ng-model="Keywords"></input>
      </div>
      <button id="button" type="submit"><p style="font-size:20px">Submit</p></button>
      <p></p>
    </form>
    
    <div ng-repeat="movie in movies" id = "lists">
      <span width="20px" data-toggle="modal" data-target="#myModal" ng-click="showdetails(movie)">
        <img style="cursor: pointer;" height="400" src = '{{movie.poster}}' id = 'poster'>
      </span>
    </div>
    <br><br><br><br>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 style="font-size:40px" class="modal-title">{{curmovietitle}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p style="font-size:30px">{{curmovieoverview}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
  <footer class="footer">
    <div class="container text-center">
      <span id="footerText">© 2018 by Jace Chipman and Jooyoung Jeong  |  <a href="https://steampowered.com/" target="_blank">Powered by Steam™</a>  |  <a href="privacy.html">Privacy Policy</a></span>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="function.js"></script>
</body>

</html>
